{% extends 'index.html' %}

{% block title %}Referrals{% endblock %}
{% block content %}
{% if next %}
{% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
  <p>Please login to see this page.</p>
{% endif %}
{% endif %}

<table class = "table-referrals">  
    <thead>  
    <tr>  
        <th>Referral ID</th>  
        <th>Last Name</th>  
        <th>First Name</th>  
 
    </tr>  
    </thead>  
    <tbody>  
{% for referral in referrals %}  
    <tr>  
        <td>{{ referral.referral_id }}</td>  
        <td>{{referral.last_name }}</td>  
        <td>{{referral.first_name }}</td>   
        <td>  
            <a href="/edit/{{ referral.id }}"class="edit">Edit</a>  
            <a href="/delete/{{ referral.id }}" class="delete">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
{% endblock %}